.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 325px;
}

.fighter-preview___name {
  font-size: 32px;
  font-weight: 900;

  color: black;
}

.fighter-preview___info {
  margin: 0;

  font-size: 22px;
  font-weight: 900;

  color: black;
}
